.todoItem-check {
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.todoItem-check > * {
    cursor: pointer;
}

.checked {
    text-decoration: line-through;
}

.hide {
    display: none;
}