.weather-display {
    color: #fff;
    text-align: center;
    text-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.3), 0 0 1rem rgba(0, 0, 0, 0.7);

    position: relative;
  
    width: 100%;
    max-width: 24rem;
    /* margin: 0 auto; 置中改用flex*/

    transition: all 0.3s;
    opacity: 1;
  }
  
  .weather-display img, .weather-display-masking img {
    width:60%;
    height:60%
  }

  /* 因為weatherdisplay下面就是圖片 temp和decs直接把opcaity換成0就對了！ */
  .weather-display-masking{
    color: #fff;
    text-align: center;
    text-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.3), 0 0 1rem rgba(0, 0, 0, 0.7);
    /* padding: 1rem; */
    position: relative;
  
    width: 100%;
    max-width: 24rem;
    /* margin: 0 auto; 置中改用flex*/
  
    opacity: 0;
  }
  
  .weatherDesc {
    position: absolute;
    margin: 0 auto;
    right: 0.3rem;
    text-transform: capitalize;
    opacity: 0.7;
  }
  
  .weatherDesc-masking {
    position: absolute;
    margin: 0 auto;
    right: -2rem;
    text-transform: capitalize;
    opacity: 0;
  }

#overrideIconSize {
  font-size: 13rem;
  opacity: 0.9;
}