#sugg li {
    display: block;
    float: left;
    position: relative;
    text-align: center;
    cursor: pointer;

    color: white;
    opacity: 0.8;
    margin-top: 0.9rem;
    /* margin: auto 1rem; */
    /* padding-top: 0.16rem;
    padding-bottom: 0.16rem; */
    width: 76px;
    height: 1.1rem;
    font-size: 0.93rem;
    transition: all 0.6s;
}

#sugg{
    width: 15rem;
    height: 2rem;
    overflow: hidden;
    /* transition: all 0.6s; */
}

#sugg.firstRow li{
    top: -0.3rem;
    transition: all 0.6s;
}

#sugg.secondRow li{
    /* 兩排差距2rem的距離 */
    top: -2.3rem;
    transition: all 0.6s;
}
