.mapComponent {
    min-height: 94.5vh;
    width: 100%;
    z-index: 0;
    visibility: visible;
}

.mapComponent-masking {
    min-height: 94.5vh;
    width: 100%;
    z-index: 0;
    visibility: hidden;
}