forecast-bg-mask-settings()
    position: absolute
    justify-content: center
    top: 25%
    z-index: 50
    text-align: center


.forecast-bg-mask
    background-color: rgba(0, 0, 0, 0.9)
    transition: opacity 0.6s
    z-index: 50
    forecast-bg-mask-settings()


.forecast-bg-mask-masking
    background-color: black
    transition: all 0.3s
    forecast-bg-mask-settings()

  .map
    position: relative
    display: flex
    justify-content: center
    z-index: 10