.children {
    width: 80%;
    max-width: 440px;
    box-sizing: border-box;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 10px
}